footer.section
  div.content
    br
    p.small © 2015 SassConf Inc. All rights reserved.
    br
    p.small Find an error or want to add something? Pull requests are welcome over on <a href="https://github.com/SassConf/sassconf.github.io" title="SassConf Org Repo">GitHub</a>. SassConf is dedicated to a harassment-free and enjoyable conference experience for everyone.

