extends _base

block main



  header

  != partial('_nav')

  main

    if current.path[1] === "posts"
      != partial("/blog/_blog")

    else
        != yield


    if current.path[0] == "index"
      != partial('/blocks/_cfp')
      != partial('/blocks/_blog')

    != partial('/blocks/_newsletter')

  != partial('_footer')


