nav.nav.nav--main(role="navigation", class="banner")
  div.nav-wrap
    a.nav-item(href="/") Home
    a.nav-item(href="/blog") Blog
    a.nav-item(href="/code-of-conduct") Code of Conduct
    a.nav-item(href="/chat") CFP Chat & Mentoring
    a.nav-item.submit(href="https://github.com/SassConf/2015-austin-speaker-cfp") Call for Proposals
