nav.nav.nav--main(role="navigation", class="banner")
  a(href="/") Home
  a(href="/blog") Blog
  a(href="/code-of-conduct") Code of Conduct
  a(href="https://github.com/SassConf/2015-austin-speaker-cfp") Submit
