nav.nav.nav--main(role="navigation", class="banner")
  div.nav-wrap
    a.nav-item(href="/") Home
    a.nav-item(href="/blog") Blog
    div.nav-item Details
      span &nbsp;&nbsp;TBD
    div.nav-item Speakers
      span &nbsp;&nbsp;TBD
    a.nav-item(href="/code-of-conduct") Code of Conduct
    a.nav-item.submit(href="https://github.com/SassConf/2015-austin-speaker-cfp") Call for Proposals
