section.content
  h1.section-title We've Changed Our Submission Process. <a href="/blog/posts/revamped-speaker-selection">Everything's Open.</a>
  p We’re aiming for even more unique content from each speaker, consistently high presentation quality, and diverse types of sessions. We want to keep our attendees engaged, inspired, and in the conversation.
