// blog bit on the homepage
section.section.blog
  div.content
    h2 On the Blog
    div.blog-newest
        // i want to limit this to the most recent two
        for post, slug in public.blog.posts._data
            article.h-entry
                span.dt-published= post.date
                h4.p-name
                    a.u-url(href= "/blog/posts/#{ slug }")= post.title
