section.section.cfp
  div.content
    h1
      a(href="https://github.com/SassConf/2015-austin-speaker-cfp") Call for Proposals
        span.icon-link L
    h3 We're looking for new and experienced speakers to give <a href="https://github.com/SassConf/2015-austin-speaker-cfp/blob/master/docs/submission-guidelines.md">talks, lightning talks, workshops, and moderated discussions</a>! The CFP is open through <strong>May 20, 2015</strong>.
    p
      a.cfp-btn(href="https://github.com/SassConf/2015-austin-speaker-cfp") Submit your Proposal!
    div.p-wrap
      p &nbsp;
      p We're doing speaker selection a little bit differently this year. We are inviting a few speakers to give talks & run events we think they'll be stellar at, keeping our call for proposals and curating speaker selection completely open on GitHub, and doing as much speaker mentoring & prep as we can! Why? Read our blog post <a href="/blog/posts/revamped-speaker-selection">Revamped Speaker Selection Process</a> for some insight into why we're changing things up!