section.section.section--bordered
  h1.section-title <strong>Call for Papers is open</strong> until May 20th.
  p We're looking for new and experienced speakers for <a href="https://github.com/SassConf/2015-austin-speaker-cfp/blob/master/docs/submission-guidelines.md">various speaking opportunities</a> at SassConf 2015. <a href="https://github.com/SassConf/2015-austin-speaker-cfp/blob/master/docs/selection-process.md">Selection process</a>, <a href="https://github.com/SassConf/2015-austin-speaker-cfp/blob/master/docs/speaker-benefits.md">speaker perks</a>, and other <a href="https://github.com/SassConf/2015-austin-speaker-cfp#more-details">details</a> are available.

    p
      a.btn(href="https://github.com/SassConf/2015-austin-speaker-cfp") Submit your proposals

  p Questions or concerns, open an issue on Github or email a member of the SassConf Team. You can also reach us on Twitter <a href="twitter.com/sassconf.com">@SassConf</a>

