section.section.cfp
  div.content
    h2
      a(href="https://github.com/SassConf/2015-austin-speaker-cfp") Call for Proposals
        span.icon-link L
    h4 We’re looking for new and experienced speakers to give <a href="https://github.com/SassConf/2015-austin-speaker-cfp/blob/master/docs/submission-guidelines.md">talks, lightning talks, workshops, and moderated discussions</a>! The CFP is open through <strong>June 10, 2015</strong>.
    p
      a.cfp-btn(href="https://github.com/SassConf/2015-austin-speaker-cfp") Submit your Proposal!
    p &nbsp;
    p Not sure what to submit, or need help with your talk or CFP? Talk to our lovely <a href="/chat">CFP Mentors</a>, <a href="https://docs.google.com/a/sassconf.com/forms/d/1Goc82y1GE0lh_4Pgr0XaYnuIOBWRNPUw9qikWJihTJk/viewform">sign up for office hours</a>, or <a href="https://kiwiirc.com/client/irc.freenode.net/?nick=user|?#sassconf">join our IRC chat</a>!
    p
        a.cfp-btn(href="https://docs.google.com/a/sassconf.com/forms/d/1Goc82y1GE0lh_4Pgr0XaYnuIOBWRNPUw9qikWJihTJk/viewform") Request Office Hours!
