section.section.intro
  div.content
    h1 SassConf
    p.date November 12 through 14,<br>Some cool venue,<br>Austin, Texas
    <a href="#" class="btn tickets">Get tickets</a>
    p.introduction A conference for front-end developers and designers that love Sass and are passionate about building a better, more beautiful web.
