// CFP chat
section.section.chat
  div.content
    h3 CFP Chat & Mentoring
    p Thinking about submitting <a href="https://github.com/SassConf/2015-austin-speaker-cfp">proposal to SassConf 2015?</a> Not sure what to submit? Our CFP Mentor team is here to help!
    div.cfp-chat-iframe
        <iframe src="https://kiwiirc.com/client/irc.freenode.net/?nick=user|?#sassconf" style="border:0; width:100%; height:450px;"></iframe>
