@font-face {
  font-family: 'Newston';
  src: url('../_resources/fonts/newston-regular-webfont.eot');
  src: url('../_resources/fonts/newston-regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('../_resources/fonts/newston-regular-webfont.woff2') format('woff2'),
		url('../_resources/fonts/newston-regular-webfont.woff') format('woff'),
		url('../_resources/fonts/newston-regular-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'Mangerica-Light';
  src: url('../_resources/fonts/mangerica-light-webfont.eot');
  src: url('../_resources/fonts/mangerica-light-webfont.eot?#iefix') format('embedded-opentype'),
		url('../_resources/fonts/mangerica-light-webfont.woff2') format('woff2'),
		url('../_resources/fonts/mangerica-light-webfont.woff') format('woff'),
		url('../_resources/fonts/mangerica-light-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'Mangerica-Regular';
  src: url('../_resources/fonts/mangerica-regular-webfont.eot');
  src: url('../_resources/fonts/mangerica-regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('../_resources/fonts/mangerica-regular-webfont.woff2') format('woff2'),
		url('../_resources/fonts/mangerica-regular-webfont.woff') format('woff'),
		url('../_resources/fonts/mangerica-regular-webfont.ttf') format('truetype');
}

@font-face {
  font-family: 'Mangerica-Bold';
  src: url('../_resources/fonts/mangerica-bold-webfont.eot');
  src: url('../_resources/fonts/mangerica-bold-webfont.eot?#iefix') format('embedded-opentype'),
		url('../_resources/fonts/mangerica-bold-webfont.woff2') format('woff2'),
		url('../_resources/fonts/mangerica-bold-webfont.woff') format('woff'),
		url('../_resources/fonts/mangerica-bold-webfont.ttf') format('truetype');
}
