// Brand colors
$sassconf-color: #EA00FF;
$event-color: #6DB0BF;
$sass-color: #c69;

// Text colors
$text-color: #333;
$background-color: #fff;
$link-color: #888;
$alt-background-color: #eee;
$alt-text-color: #111;