// SassConf 2015 Colors
$purple: #510059;
$pink: #de5499;
$green: #8dc63f;
$blue: #438ccb;
$gold: #ffae00;
$white: #fff;

// Utility colors
$text-color:           #444;
$text-color-light:     #999;
$background-color:     $white;
$link-color:           darken($blue, 20%);
$alt-background-color: #eee;
$alt-text-color:       #000;
$border-color:         #ddd;

$about-bg: #252525;

// Typography
$text-font:  'sofia-pro', 'Brandon Grotesque', 'Futura', 'Franklin Gothic', 'Helvetica', sans-serif;
$header-font:  $text-font;

$line-height: 1.75;

// Dimensions
$nav-height:           ms(2, 1rem) ms(3, 1rem);
$max-width:            65rem;
$margin:               4%;

// Transitions
$ui-speed: .2s;


/////////// Plugin config ///////////

// Modular Scale
$ms-ratio: $fourth;
$ms-range:
  1.1  20em,
  1.25 60em;

// Color Schemer
$cs-color-model:       ryb;
$cs-primary:           $purple;
$cs-scheme:            analogic;
$cs-hue-offset:        30;
