<%= partial "partials/head" %>
<%= partial "partials/modules/subpage-nav" %>

<section class="m-news-archive">
    <article>
        <%= yield %>
    </article>
</section>

<%= partial "partials/foot" %>
