* {
  min-height: 0;
  min-width: 0;

  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}


html {
  font-size: 100%;
  line-height: 1.4;
  font-family: $font-family-text;
  background-image: url('/assets/img/prism.svg');
}

html, body {
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}

body {
  @extend %logo-lockup-dark;
  padding: 0;
  min-width: 300px;
}

// Padding and wrappers

.content {
  max-width: 1125px;
  margin: 0 auto;
  width: 95%;
  @include media(grid-sm) {
    padding: 0 1em;
  }
  @include media(grid-xl) {
    padding: 0;
  }
}

.page {
  background: $white;
  padding: 2em 0 5em;
}

.section {
  padding-top: 1em;
  padding-bottom: 4.5em;
  clear: both;
}
