* {
  min-height: 0;
  min-width: 0;

  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}


html {
  font-size: 100%;
  line-height: 1.4;
  font-family: $font-family-text;
  background-image: url('/assets/img/prism.svg');
}

html, body {
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}

body {
  @extend %logo-lockup-dark;
  padding: size(shim) 0;
  min-width: 300px;
}

// Padding and wrappers

.content {
  max-width: 1125px;
  margin: 0 auto;
  @include media(grid-sm) {
    background: red;
  }
  @include media(grid-med) {
    background: blue;
  }
  @include media(grid-lg) {
    background: green;
  }
  @include media(grid-xl) {
    background: purple;
  }
}

.page {
  background: $white;
  padding: 2em 0 5em;
}

.section {
  padding-top: 1em;
  padding-bottom: 4.5em;
  clear: both;
}


// @media screen and (max-width: 600px) {
//   .page {
//     padding: 2em 1.5em 5em;
//   }
// }

// .p-wrap {
//   width: 80%;
// }

// @media screen and (min-width: 600px) {
//   .p-wrap {
//     width: 57%;
//   }
// }


// @media screen and (max-width: 600px) {
//   .section {
//     padding-left: 1.5em;
//   }
// }

// .cfp {
//   h3 {max-width: 88%;}
// }

