// Colors
// =======
// @@@ use color schemer?

$primary: #EA00FF;
$secondary: #ff006a; // pink
$tertiary:  #510059; // purple
$quadrary:  #241b3e; // dark purple

$background-color: #fff;
$text-color: $quadrary;
