// Config
// ------

$base-size: 16px;

$rhythm-unit: rem;

$ratio: fifth;

$sizes: (
  x-large: 4,
  large: 2,
  medium: 2,
  normal: 1,
  small: 0,
  x-small: -1,

  rhythm: 1,
  gutter: 2,
  column: 3,
  shim: -1,
  half-shim: -2,

  corners: 1px,
);
