$font-family-display: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-text:  'Source Serif Pro', Georgia, 'Times New Roman', Times, serif;

// for modular-scale
$base-size: 1em;

p, ol, ul {
  font-family: $font-family-text;
  color: $color-text;
}

// wrap paragraphs so they aren't as wide as the whole page
p {
  @include media(grid-sm) {
    width: 85%
  }
  @include media(grid-lg) {
    width: 68%;
  }
}

blockquote {
  border-left: 4px solid $iron;
  padding-left: 25px;
}

a, a:link, a:visited, a:active {
  text-decoration: none;
  color: $color-text-link;
}

a:hover {
  text-decoration: none;
  color: $midnight-blue;
}


h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-display;
  font-weight: 400;
  line-height: 1.25;
  margin: ms(-1) 0 ms(-1) 0;
  color: $color-text-heading;
}

$ms-range:
  1.4 320px,
  1.5 800px,
  1.6 1000px;

h1 {
  @include ms-respond(font-size, 4);
  // smaller on pages and blog posts
  .page &,
  .blog-post & {
    @include ms-respond(font-size, 3);
  }
  font-weight: 300;
  color: $pale-sky;
  margin-bottom: 0;
  a, a:link, a:visited, a:active {
    color: $midnight-blue;
  }
  a:hover {
    color: $purple;
  }
}

.icon-link {
  font-family: uikitregular;
  font-size: .45em;
  opacity: .5;
  padding-left: .25em;
  display: inline-block;
}

h2 {
  @include ms-respond(font-size, 3);
  color: $color-text-invert;
}

h3 {
  @include ms-respond(font-size, 1.2);
  color: $venus;
}

h4 {
  @include ms-respond(font-size, 1);
  font-weight: 600;
  font-family: $font-family-text;
  .cfp & {
    max-width: 88%;
  }
}

p.introduction {
  font-family: $font-family-display;
  color: $white;
  @include ms-respond(font-size, 0.75);
  font-style: italic;
  font-weight: 100;
}