$font-family-display: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-text:  'Source Serif Pro', Georgia, 'Times New Roman', Times, serif;


$alpha:   6em;
$beta:    4em;
$gamma:   3.5em;
$delta:   2.5em;
$epsilon: 1.95em;
$zeta:    1.35em;
$iota:    1em; // 16px

p, ol, ul {
  font-family: $font-family-text;
  color: $color-text;
  font-size: $iota;
  line-height: 1.5;
}

// wrap paragraphs so they aren't as wide as the whole page
p {
  @include media(grid-sm) {
    width: 85%
  }
  @include media(grid-lg) {
    width: 68%;
  }

  .page &,
  .blog-post & {
        @include media(grid-lg) {
            font-size: $zeta;
      }
  }
}

blockquote {
  border-left: 4px solid $iron;
  padding-left: 25px;
}

a, a:link, a:visited, a:active {
  text-decoration: none;
  color: $color-text-link;
}

a:hover {
  text-decoration: none;
  color: $midnight-blue;
}


h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-display;
  font-weight: 400;
  line-height: 1.25;
  margin: .5em 0;
  color: $color-text-heading;
}

h1 {
  @include media(grid-sm) {
    font-size: $beta;
  }
  @include media(grid-med) {
    font-size: $alpha;
  }
  // smaller on pages and blog posts
  .page &,
  .blog-post & {
    font-size: $gamma;
  }
  font-weight: 300;
}

h2 {
  font-size: $gamma;
  color: $color-text-invert;
  font-weight: 300;
  color: $pale-sky;
  margin-bottom: 0;
  a, a:link, a:visited, a:active {
    color: $midnight-blue;
  }
  a:hover {
    color: $purple;
  }
}

h3 {
  font-size: $delta;
  color: $iron;
}

h4 {
  font-size: $zeta;
  font-weight: 400;
  color: $venus;
  .cfp & {
    max-width: 85%;
  }
  .page &,
  .blog-post & {
    font-weight: 600;
  }
}

p.introduction {
  font-family: $font-family-display;
  color: $white;
  font-size: $epsilon;
  font-style: italic;
  font-weight: 100;
  @include media(grid-sm) {
    width: 95%;
  }
  @include media(grid-med) {
    width: 88%;
  }
}

p.small {
  color: $regent-grey;
  font-size: 85%;
}

.icon-link {
  font-family: uikitregular;
  font-size: .45em;
  opacity: .5;
  padding-left: .25em;
  display: inline-block;
}