<nav class="m-nav">
  <a class="m-nav__home" href="/">SassConf</a>
  <a href="#" class="m-nav__link">link</a>
  <a href="#" class="m-nav__link">link</a>
  <a href="#" class="m-nav__link">link</a>
  <a href="#" class="m-nav__link">link</a>
  <a href="#" class="m-nav__link">link</a>
</nav>