// Blog - on Homepage
// ====

.section.blog {
    background: $off-black;

    .blog-newest {
        .p-name {
            margin: 0 0 1em 0;
            a, a:active, a:visited {color: $white;}
            a:hover {color: $nebula;}
        }
        .dt-published {
            color: $regent-grey;
            text-transform: uppercase;
            font-size: .8em;
        }
    }
}



// Blog List Page
// ====

.blog-header {
    background: $off-black;
    padding: .5em 0 3em 0;
    h1 {color: $white;}
}

.blog-list {
    margin-top: 4em;
    article.h-entry {
        margin-bottom: 2em;
        padding-bottom: 2em;
        border-bottom: 2px solid $iron;
    }

    h4.p-name {
        font-size: 2em;
        margin-top: .25em;
    }
    .dt-published {
        color: $regent-grey;
        text-transform: uppercase;
        font-size: .8em;
    }
    .p-summary {
        max-width: 70%;
    }
}


// Blog Post Page
// ====
.blog-header-post {
    background: $off-black;
    padding: .5em 0;
    h3 {
        a, a:active, a:visited {color: $iron;}
        a:hover {color: $venus;}
    }
}

.blog-post {
    background: $white;
    p {width: 60%;}
}

.blog-img {
    max-width: 60%;
}