// Buttons
// =======

@mixin button-base {
  border-radius: 0.25em;
  transition: background 300ms;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.125);
  text-align: center;
  display: inline-block;
  font-family: $font-family-text;
  font-weight: 600;
}

@mixin button-reset {
  background: none;
  border: 0;
  color: inherit;
  cursor: pointer;
  padding: 0;
  text-decoration: none;
  text-shadow: none;

  &:disabled { cursor: default; }
}

.btn {
  @include button-reset;
  @include button-base;
  background: $hopbush;
  color: $color-text-strong-invert !important;
  padding: .5em 1em;
  font-size: 1em;
  &:hover {
    text-decoration: none;
    background: $bouquet;
  }

}


.cfp-btn {
  @include button-reset;
  @include button-base;
  background: $midnight-blue;
  color: $color-text-strong-invert !important;
  padding: .5em 1em;
  font-size: 1.5em;
  &:hover {
    text-decoration: none;
    background: $purple;
  }

}

