footer {
  background-color: $midnight-blue;

  &:after {
    @extend %logo-icon-dark;
    content: "Sass Conf";
    display: block;
    margin: 0 auto;
    padding-bottom: 1em;
  }

  h5 {color: $white;}

  a:hover {
    color: $venus;
  }
}
