header {
  @extend %logo-lockup-dark;
  padding: size(shim) 0;

  h1 {
    @include font-size(medium);
    color: $secondary;
    font-weight: bold;
    margin: 0;
  }

  h2 {
    @include font-size(large);
    color: $secondary;
    font-family: $text;
    margin: size(shim) 0 0;
  }
}
