.intro {
  background: $hopbush;
  box-shadow: inset 0 1px 10px rgba(darken($hopbush,25%),.5);

  h1 {
    color: $white;
    margin-bottom: 0;
  }

  // p.date {
  //   margin-top: 0;
  //   color: darken($hopbush,25%);
  //   text-transform: uppercase;
  //   font-family: $font-family-text;
  //   font-size: 1.125em;
  //   font-weight: 600;
  // }

  // p.introduction {
  //   margin-top: 1.5em;
  //   max-width: 80%;
  // }
}
