@font-face {
  font-family: 'uikitregular';
    src: url('/assets/font/uikit.eot');
    src: url('/assets/font/uikit.eot?#iefix') format('embedded-opentype'),
    url('/assets/font/uikit.woff') format('woff'),
    url('/assets/font/uikit.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

%logo-lockup {
  &:before {
    content: "S";
    position: relative;
    pointer-events: none;
    z-index: 1;
    font-weight: 400;
    font-family: uikitregular;
    display: block;
    font-size: ms(3);
    text-align: center;
    background: $purple;
    color: $color-text-strong-invert;
  }
}

%logo-lockup-dark {
  -webkit-font-smoothing: antialiased;
  @extend %logo-lockup;
}

%logo-icon {
  box-sizing: content-box;
  display: inline-block;
  font-family: uikitregular;
  font-size: 4em;
  color: $color-primary;
  padding: .25em;
  margin: .25em;
  width: 1em;
  height: 1em;
  line-height: 1;
  border-radius: .75em;
}

%logo-icon-dark {
  @extend %logo-icon;
  // @include dark-background;
  -webkit-font-smoothing: antialiased;
  // box-shadow: 0 0 0 .05em rgba($color-text-strong-invert, .5);
  color: $color-text-strong-invert;
}
