.nav--main {
  background-color: $iron;

  .nav-wrap {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1125px;
    margin: 0 auto;
  }

  .nav-item {
    transition: all .5s;
    display: block;
    padding: 1em;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    color: $purple;

    &:hover {
      text-decoration: none;
      color: $bouquet;
    }

    &.submit {
      color: $hopbush;
    }
  }
}

@media screen and (min-width: 600px) {
  .nav-item {
    flex: 1;
   }
}