

nav {
  background: $iron;
}

@include media(grid-sm) {

  .nav-wrap {
    display: block;
  }

  .nav-item {
    display: block;
  }

}

@include media(grid-lg) {
  .nav-wrap {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1125px;
    margin: 0 auto;
  }
}



a.nav-item {
  display: block;
  padding: 1em;
  flex-grow: 1;
  transition: all .5s;
  padding: 1em;
  text-transform: uppercase;
  font-weight: 600;
  font-family: $font-family-display;
  text-decoration: none;
  color: $purple;
  text-align: center;
  @include media(grid-xl) {
    padding: 1em 0;
  }
  &:hover {
    text-decoration: none;
    color: $bouquet;
  }

  &.submit {
    color: $hopbush;
  }

}
