.newsletter {
  background: $iron;
  h3 {color: $patina; margin-bottom: 0;}
}

#mc_embed_signup {
  display: block;

  label {
    margin-bottom: size(shim);
    display: inline-block;
  }

  input {

    &[type="email"] {
      padding: 9px 16px;
      border-radius: 3px;
      border: 1px solid rgba($patina, .6);
      margin: size(half-shim) 0 size(shim);
      background-color: $white;

      &:focus {
        box-shadow: 0 0 6px rgba($patina, 1);
        outline: none;
      }
    }
  }

  ::-webkit-input-placeholder {
    color: $iron;
  }
}


.mail-btn {
  @include button-reset;
  @include button-base;
  background: $patina;
  color: $color-text-strong-invert !important;
  font-size: 1em;
  font-weight: 400;
  padding: 4px 16px;
  margin-left: 1em;
  text-transform: uppercase;
  &:hover {
    text-decoration: none;
    background: darken($patina,10%);
  }

}


