.newsletter {
  border-top: 8px solid $iron;
  background: $white;
  margin-top: -10px;
  padding-bottom: 2em;
}

#mc_embed_signup {
  display: block;

  label {
    margin-bottom: size(shim);
    display: inline-block;
  }

  input {

    &[type="email"] {
      padding: 9px 16px;
      border-radius: 3px;
      border: 1px solid rgba($bouquet, .6);
      margin: size(half-shim) 0 size(shim);
      background-color: $color-background;

      &:focus {
        box-shadow: 0 0 6px rgba($bouquet, 1);
        outline: none;
      }
    }
  }

  ::-webkit-input-placeholder {
    color: $iron;
  }
}
