<section class="m-about">
  <article>

      <p class="wide">SassConf is a 3-day event that brings together a far-flung community of front-end developers, designers, architects, and web enthusiasts who dream of building a better web. Originally born out of NYC’s GothamSass meetup, SassConf has grown from a language-specific conference to an event on the cutting edge of front-end technology.</p>

      <h1>Come to SassConf or you hate puppies</h1>

      <p>The Sass community is a welcoming, ego-free, open-minded, and diverse group of people.We strive to make SassConf reflect and further that atmosphere. At SassConf your eyes will be opened to how technology can create not just websites, but revolutionary change.</p>

  </article>
</section>
