<section class="m-about">
    <a name="about"></a>

  <article>

      <p class="wide">SassConf is a 3-day event that brings together a far-flung community of front-end developers, designers, architects, and web enthusiasts who dream of building a better web. Originally born out of NYC’s <a href="http://www.meetup.com/gothamsass">GothamSass meetup</a>, SassConf has grown from a language-specific conference to an event on the cutting edge of front-end technology.</p>

      <p>The Sass community is a welcoming, ego-free, open-minded, and diverse group of people. We strive to make SassConf reflect and further that atmosphere. At SassConf your eyes will be opened to how technology can create not just websites, but revolutionary change.</p>

      <h1>Community, collaboration, and breakfast tacos!</h1>

      <h4 class="header-dates">Opening Panel: Nov 10, 6-10pm <br>at <a href="https://www.google.com/maps/place/Firehouse+Lounge+%26+Hostel/@30.2681729,-97.7432693,17z/data=!3m1!4b1!4m2!3m1!1s0x8644b5a7654371ed:0x19d841d72ca81e38">Firehouse Lounge</a></h4>
      <span class="header-dates__locations">605 BRAZOS ST (BETWEEN 6TH &amp; 7TH)</span>
      <p class="meta">Kick off the conference on Tuesday evening for a very special panel with the SassCSS Core Team. Opening panel sponsored by <a href="https://twitter.com/Shopify">Shopify</a>.</p>

      <h4>Conference: Nov 11 & 12</h4>
      <p class="meta">Join us for the main conference days on Wednesday and Thursday for talks, workshops and discussions! Celebrate another awesome year of SassConf at the closing party on the 12th with all your new friends.</p>

      <h4>Unconference: Nov 13</h4>
      <p class="meta">Our much-beloved Community Unconference is the day for you, the attendees, to hack, present, and dive deeper into what you learned during the conference. Hang out all day in our coffee shop/workspace and get your Sass on!</p>

      <h4>Training: Nov 14</h4>
      <p class="meta">On Saturday, we're offering three additional training workshops for those of you who want to really delve into a topic. Seats are limited so get your tickets now!</p>

  </article>
</section>
