<section class="m-about">
    <a name="about"></a>

  <article>

      <p class="wide">SassConf is a 3-day event that brings together a far-flung community of front-end developers, designers, architects, and web enthusiasts who dream of building a better web. Originally born out of NYC’s GothamSass meetup, SassConf has grown from a language-specific conference to an event on the cutting edge of front-end technology.</p>

      <p>The Sass community is a welcoming, ego-free, open-minded, and diverse group of people. We strive to make SassConf reflect and further that atmosphere. At SassConf your eyes will be opened to how technology can create not just websites, but revolutionary change.</p>

      <h1>Community, collaboration, and breakfast tacos!</h1>

      <h4>Opening Panel: Nov 10</h4>
      <p class="meta">Come Kick off the conference Tuesday evening for a very special
      panel with the SassCSS Core Team. Opening party sponsored by Shopify.</p>

      <h4>Conference: Nov 11 & 12</h4>
      <p class="meta">Join us for the main conference days, Wednesday and Thursday, for talks, included workshops, and discussions! Celebrate another awesome year of SassConf at the closing party on the 12th with all your new friends.</p>

      <h4>Unconference: Nov 13</h4>
      <p class="meta">Much beloved, our Community Unconference is the day for you, the attendees, to hack, present, and get to dive deeper on what you learned during the conference. Hang out all day in our coffee shop/work space and get your Sass on!</p>

      <h4>Workshops: Nov 14</h4>
      <p class="meta">On Saturday, we're offering three additional workshops for those of you who want to really delve into a topic. Get your tickets now, seats are limited!</p>

  </article>
</section>
