%section.m-austin
    %article
        %h2.sub-header.header--black Where to Stay
        %p We recommend staying at a fun East Side AirBnb, or one of the many hotels within walking distance of the venue.

        :markdown

            *   Check out a funky East Side [AirBnb](https://www.airbnb.com/s/Austin--TX--United-States?checkin=11%2F10%2F2015&checkout=11%2F15%2F2015&guests=&zoom=16&search_by_map=true&sw_lat=30.256529244866545&sw_lng=-97.73679361094963&ne_lat=30.268371348928135&ne_lng=-97.72533521403801&ss_id=mmz5wbxe)
            *   Stay within easy walking distance at the [Courtyard Marriott](http://www.marriott.com/hotels/travel/ausrd-residence-inn-austin-downtown-convention-center/), [Hilton](http://www3.hilton.com/en/hotels/texas/hilton-austin-AUSCVHH/index.html), or [Hampton](http://hamptoninn3.hilton.com/en/hotels/texas/hampton-inn-and-suites-austin-downtown-convention-center-AUSDTHX/index.html)
            *   Get Texas-y at the historic [Driskill](http://www.driskillhotel.com/) or [Stephen F. Austin](http://www.ihg.com/intercontinental/hotels/gb/en/austin/ausha/hoteldetail?cm_mmc=GoogleMaps-_-ic-_-USEN-_-ausha)
            *   Splurge at brand-new hotels [JW Marriott](http://www.marriott.com/hotels/travel/ausjw-jw-marriott-austin/) or [Westin](http://www.westinaustindowntown.com/)
            *   Go farther afield for the rooftop pool at the [W Austin](http://www.whotelaustin.com/) or just-opened Rainey St [Hotel van Zandt](http://www.hotelvanzandt.com/)

    %article
        %h2.sub-header.header--black What to do
        <p>Never a dull moment in Austin. Check out these great reources</p>

        :markdown
            * [Stuff in Austin](http://www.stuffinaustin.com): A lovely guide handcrafted with love especially for SassConf
            * Follow our [list](https://foursquare.com/sassconf) on Foursquare.
            * Check out these great [lunch](http://austin.eater.com/maps/austin-best-lunch-restaurants-east-side), [brunch](http://austin.eater.com/maps/best-brunch-heatmap-guide-austin), and [Essential](http://austin.eater.com/maps/best-austin-restaurants-38) Austin food spots
            * Check out this [list](https://foursquare.com/timhettler/list/texas-trip) by speakers and attendees who've travelled to Austin before
