<footer class="m-footer">
  <article>
    <p><strong>© <span class="m-footer__current-year"></span> SassConf Inc. All rights reserved.</strong></p>
    <p class="wide">Find an error or want to add something? Pull requests are welcome over on <a href="https://github.com/SassConf/sassconf.github.io">GitHub</a>.</p>
  </article>
</footer>
