<section class="m-hero">
    <article>
        <div class="button-container">
            <a href="#tickets" class="button-primary">Get a Ticket</a>
            <p>Get 10% off your ticket through 10/21 with code <strong>30DAYS</strong>!</p>
        </div>


        <img class="hero-image" src="images/sassconf-header.png" alt="SassConf 2015 Dreaming of a Better Web, Austin, Texas 2015">
<!--         <%= partial "partials/logo" %>
        <h5 class="tagline">The conference for anyone who loves Sass and dreams about building a better web.</h5>
        <h4>NOV 11-14 <span class="dot">&middot;</span> AUSTIN, TX</h4>
 -->

    </article>
</section>
