<section class="m-hero">
  <h1><%= data.info.name %></h1>

  <article>
    <p>A conference for front-end developers and designers that love Sass and are passionate about building a better, more beautiful web.</p>
  </article>
</section>
