<section class="m-hero">
  <article>
<!--     <h4><%= data.info.name %></h4>
    <h2>NOVEMBER 11-14</h2>
    <h2>AUSTIN, TEXAS</h2>
    <h5>A conference for front-end developers and designers that love Sass and are passionate about building a better, more beautiful web.</h5> -->

    <h6>SASSCONF</h6>
    <h1>NOV 11-14</h1>
    <h1>AUSTIN,<br/>TEXAS</h1>
    <h3>BRAZOS HALL</h3>
  </article>
</section>
