<nav class="m-nav">

    <div class="m-nav__menu--wrapper">
        <div class="m-nav__menu">
            <span class="logo"><%= partial "partials/logo" %></span>
            <a href="/about/" class="m-nav__link about">About</a>
            <a href="/news/" class="m-nav__link blogs">News</a>
            <a href="/code-of-conduct.html" class="m-nav__link coc">Code of Conduct</a>
        </div>
    </div>

</nav>
