<nav class="m-nav">

<div class="m-nav__menu--wrapper">
    <div class="m-nav__menu" id="m-menu">
        <a href="#" class="m-nav__link about">About</a>
        <a href="#" class="m-nav__link speakers">Speakers</a>
        <!-- <a href="#" class="m-nav__link ticket">Tickets</a> -->
        <a href="/code-of-conduct" class="m-nav__link venue">Venue</a>
        <a href="#" class="m-nav__link sponsors">Sponsors</a>
        <a href="#" class="m-nav__link news">News</a>
        <a href="/code-of-conduct" class="m-nav__link coc">Code of Conduct</a>
    </div>
</div>

</nav>