<nav class="m-nav">

<div class="m-nav__menu--wrapper">
    <div class="m-nav__menu" id="m-menu">
        <a href="/index.html" class="m-nav__link about">Home</a>
        <!-- <a href="#about" class="m-nav__link about">About</a> -->
        <!-- <a href="#tickets" class="m-nav__link ticket">Tickets</a> -->
        <a href="/workshops.html" class="m-nav__link workshops">Workshops</a>
        <!-- <a href="#scholarships" class="m-nav__link scholarships">Scholarships</a> -->
        <a href="/speakers.html" class="m-nav__link speakers">Speakers</a>
        <!-- <a href="#sponsors" class="m-nav__link sponsors">Sponsors</a> -->
        <a href="/venue.html" class="m-nav__link venue">Venue</a>
        <a href="/blog" class="m-nav__link news">News</a>
        <a href="/code-of-conduct.html" class="m-nav__link coc">Code of Conduct</a>
        <a href="http://www.eventbee.com/v/sassconf2015/" class="m-nav__link buy-ticket">Buy Ticket</a>
    </div>
</div>

</nav>
