<nav class="m-nav">

<div class="m-nav__menu--wrapper">
    <div class="m-nav__menu" id="m-menu">
        <a href="#about" class="m-nav__link about">About</a>
        <a href="#speakers" class="m-nav__link speakers">Speakers</a>
        <a href="#tickets" class="m-nav__link workshops">Workshops</a>
        <a href="#tickets" class="m-nav__link ticket">Tickets</a>
        <a href="#scholarships" class="m-nav__link scholarships">Scholarships</a>
        <a href="#sponsors" class="m-nav__link sponsors">Sponsors</a>
        <a href="#news" class="m-nav__link news">News</a>
        <a href="#coc" class="m-nav__link coc">Code of Conduct</a>
    </div>
</div>

</nav>