<section class="m-news">
    <article>

        <h3>News</h3>

        <div class="news-item">
            <div class="news-date">March 20, 2015</div>
            <div class="news-content">
                <div class="news-title">Announcing the CFP Mentoring Team!</div>
                <p class="news-snippet">This year we are putting a lot of focus on Speaker mentoring and preparation. We aim to have a quality event with unique and interesting talks, but we know that doesn’t happen in a vacuum....</p>
            </div>
        </div>

        <div class="news-item">
            <div class="news-date">March 20, 2015</div>
            <div class="news-content">
                <div class="news-title">Announcing the CFP Mentoring Team!</div>
                <p class="news-snippet">This year we are putting a lot of focus on Speaker mentoring and preparation. We aim to have a quality event with unique and interesting talks, but we know that doesn’t happen in a vacuum....</p>
            </div>
        </div>

        <div class="news-item">
            <div class="news-date">March 20, 2015</div>
            <div class="news-content">
                <div class="news-title">Announcing the CFP Mentoring Team!</div>
                <p class="news-snippet">This year we are putting a lot of focus on Speaker mentoring and preparation. We aim to have a quality event with unique and interesting talks, but we know that doesn’t happen in a vacuum....</p>
            </div>
        </div>

    </article>
</section>