


<section class="m-news">
    <a name="news"></a>

    <article>

        <h3>News</h3>

        <% blog.articles[0...3].each do |article| %>
         <div class="news-item">
            <div class="news-date"><%= article.date.strftime('%b %e %Y') %></div>
            <div class="news-content">
                <a class="news-title" href="<%= article.url %>"><%= article.title %></a>
                <div class="news-snippet"><%= article.summary %></div>
            </div>
        </div>

        <% end %>

        <p>
            <a class="news-archive-link" href="/blog">News Archive</a>
        </p>

    </article>
</section>