<section class="m-newsletter">
  <article>
    <div class="content">
      <h3>Don’t miss a thing!</h3>
      <p>Sign up for the SassConf newsletter and you’ll be the first to know when speakers are announced, tickets go on sale, and more!</p>

      <div id="mc_embed_signup">
        <form id="mc-embedded-subscribe-form" action="http://Sassconf.us5.list-manage1.com/subscribe/post?u=3a8cdc2c932e9e39b71ad40fa&amp;id=bbb1e76d11" method="post" name="mc-embedded-subscribe-form" target="_blank" class="validate">
          <div class="mc-field-group">
            <label for="mce-EMAIL"></label>
            <input id="mce-EMAIL" type="email" value="" placeholder="Email Address" name="EMAIL" required="" class="required email">
            <input id="mc-embedded-subscribe" type="submit" value="Subscribe" name="subscribe" class="mail-btn">
          </div>
          <div id="mce-responses" class="clear">
            <div id="mce-error-response" style="display:none" class="response"></div>
            <div id="mce-success-response" style="display:none" class="response"></div>
          </div>
        </form>
      </div>
    </div>
  </article>
</section>
