<section>
  <article>
    <h2>24 SPEAKERS · 14 <%= link_to 'TALKS', '/speakers.html#speakers__talks' %> <br />5 <%= link_to 'DISCUSSIONS', '/speakers.html#speakers__discussions' %> · 4 <%= link_to 'WORKSHOPS', '/speakers.html#speakers__workshops' %> ·<br />3 DAYS · 4 <%= link_to 'VENUES', '/venues.html' %></h2>
    <p>This year we prioritized short-form 15-minute talks equally with standard-length talks. All talk segments are single-track. After a long lunch around town, we’ll break into workshops, and for the first time this year, moderated small group discussions.</p>
  </article>
</section>
