<section>
  <article>
    <h2>24 SPEAKERS · 14 TALKS · 6 DISCUSSIONS 4 WORKSHOPS · 3 DAYS · 2 VENUES</h2>
    <p>This year we prioritized short-form 15-minute talks equally with standard-length talks. All talk segments are single-track. After a long lunch around town, we’ll break into workshops, and for the first time this year, moderated small group discussions.</p>
  </article>
</section>

<section class="m-quote m-quote-a">

    <h3 class="quote-text">
        <span class="highlight highlight-wrap">
            SassConf has set the bar very high; what an amazing event!
        </span>
        <span class="highlight highlight-breaks">
            SassConf has set the <br/>bar very high; what an <br/>amazing event!
        </span>
    </h3>

</section>
