<section class="m-quote m-quote-a">
    <!-- <div class="quote-text">
        <h2 class="highlight--wrapping">SassConf has set the <br/>bar very high; what an <br/>amazing event!</h2>
    </div> -->

    <h3 class="quote-text">
        <span class="highlight">
            SassConf has set the <br/>bar very high; what an <br/>amazing event!
        </span>
        <div class="attribution">Stu Robson</div>
    </h3>

</section>