<section class="m-quote m-quote-a">

    <h3 class="quote-text">
        <span class="highlight highlight__green highlight-wrap">
            SassConf has set the bar very high; what an amazing event!
        </span>
        <span class="highlight highlight__green highlight-breaks">
            SassConf has set the <br/>bar very high; what an <br/>amazing event!
        </span>
        <div class="attribution"><a href="https://twitter.com/adispezio/status/518615809183059968">@adispezio</a></div>
    </h3>

</section>
