<section class="m-quote m-quote-a">

    <h3 class="quote-text">
        <span class="highlight">
            SassConf has set the <br/>bar very high; what an <br/>amazing event!
        </span>
        <div class="attribution">Stu Robson</div>
    </h3>

</section>