<section class="m-quote m-quote-b">

    <h3 class="quote-text">
        <span class="highlight highlight-wrap">
            Still reeling from such an awesome experience...I feel more inspired than I have in years.
        </span>
        <span class="highlight highlight-breaks">
            Still reeling from such an <br/>awesome experience...I feel more <br/>inspired than I have in years.
        </span>
        <div class="attribution"><a href="https://twitter.com/palebluejen/status/390530060866027520">@palebluejen</a></div>
    </h3>

</section>