<section class="m-quote m-quote-b">

    <h3 class="quote-text">
        <span class="highlight">
            I’m still reeling...<br/>I have never been so<br/>inspired in my life.
        </span>
        <div class="attribution">@palebluejen</div>
    </h3>

</section>