<section class="m-scholarships">
    <a name="scholarships"></a>

    <article>
        <h2 class="sub-header header--purple">Scholarships</h2>

        <p class="highlight">Scholarship Applications are open until November 1st and are being given on a rolling basis until November 9th.</p>

        <p>Need assistance getting a SassConf ticket or traveling to SassConf? We're excited to offer a limited number of scholarships, thanks to our Scholarship Fund tickets and sponsorships. The application process is simple: let us know what you need and why you want to attend!</p>


        <div class="button-container">
            <a href="https://sassconf.wufoo.com/forms/sassconf-2015-scholarship-application/" target="_blank" class="button-primary">Apply for a Scholarship</a>
        </div>

        <p class="wide meta">Scholarships are available for anyone in an underrepresented group in tech. This includes (but is not limited to): people of colour, LGBTQIA+ people, women, disabled people, or anyone who may not be able to afford a ticket/travel.</p><br/>

    </article>
</section>
