<section class="m-speakers">
	<article>
		<h3 class="headline">Speakers</h3>
	</article>


		<div class="speaker-grid">

				<div class="speaker">
					<div class="speaker-circle">
						<img src="images/speakers/james-steinbach.jpeg">
					</div>
					<div class="speaker-name">James <span class="speaker-lastname">Steinbach</span></div>
					<div class="speaker-twitter">@jdsteinbach</div>
					<div class="speaker-location">Denver, CO</div>
				</div>


				<div class="speaker">
					<div class="speaker-circle">
						<img src="images/speakers/miriam-nadler.jpeg">
					</div>
					<div class="speaker-name">Miriam <span class="speaker-lastname">Nadler</span></div>
					<div class="speaker-twitter">@miri</div>
					<div class="speaker-location">New York, NY</div>
				</div>

				<div class="speaker">
					<div class="speaker-circle">
						<img src="images/speakers/tab-atkins.jpg">
					</div>
					<div class="speaker-name">Tab <span class="speaker-lastname">Atkins</span></div>
					<div class="speaker-twitter">@tabatkins</div>
					<div class="speaker-location">Sunnyvale, CA</div>
				</div>

				<div class="speaker">
					<div class="speaker-circle">
						<img src="images/speakers/jackie-balzer.jpg">
					</div>
					<div class="speaker-name">Jackie <span class="speaker-lastname">Balzer</span></div>
					<div class="speaker-twitter">@jackiebackwards</div>
					<div class="speaker-location">Brooklyn, NY</div>
				</div>

				<div class="speaker">
					<div class="speaker-circle">
						<img src="images/speakers/daniel-na.jpeg">
					</div>
					<div class="speaker-name">Daniel <span class="speaker-lastname">Na</span></div>
					<div class="speaker-twitter">@danielna</div>
					<div class="speaker-location">New York, NY</div>
				</div>


				<div class="speaker">
					<div class="speaker-circle">
						<img src="images/speakers/julie-cameron.jpg">
					</div>
					<div class="speaker-name">Julie <span class="speaker-lastname">Cameron</span></div>
					<div class="speaker-twitter">@jewlofthelotus</div>
					<div class="speaker-location">Ypsilanti, MI</div>
				</div>

				<div class="speaker">
					<div class="speaker-circle">
						<img src="images/speakers/tim-hettler.png">
					</div>
					<div class="speaker-name">Tim <span class="speaker-lastname">Hettler</span></div>
					<div class="speaker-twitter">@timhettler</div>
					<div class="speaker-location">Brooklyn, NY</div>
				</div>

				<div class="speaker">
					<div class="speaker-circle">
						<img src="images/speakers/eric-suzanne.jpg">
					</div>
					<div class="speaker-name">Eric <span class="speaker-lastname">Suzanne</span></div>
					<div class="speaker-twitter">@ericsuzanne</div>
					<div class="speaker-location">Denver, CO</div>
				</div>

				<div class="speaker">
					<div class="speaker-circle">
						<img src="images/speakers/bernard-yu.jpeg">
					</div>
					<div class="speaker-name">Bernard <span class="speaker-lastname">Yu</span></div>
					<div class="speaker-twitter">@bernardyu</div>
					<div class="speaker-location">Washington, DC</div>
				</div>

				<div class="speaker">
					<div class="speaker-circle">
						<img src="images/speakers/ally-palanzi.jpeg">
					</div>
					<div class="speaker-name">Ally <span class="speaker-lastname">Palanzi</span></div>
					<div class="speaker-twitter">@mylifeasallly</div>
					<div class="speaker-location">Washington, DC</div>
				</div>


				<div class="speaker">
					<div class="speaker-circle">
						<img src="images/speakers/jonathan-cutrell.jpeg">
					</div>
					<div class="speaker-name">Jonathan <span class="speaker-lastname">Cutrell</span></div>
					<div class="speaker-twitter">@jonathancutrell</div>
					<div class="speaker-location">IDK</div>
				</div>

				<div class="speaker">
					<div class="speaker-circle">
						<img src="images/speakers/natalya-shelburne.jpeg">
					</div>
					<div class="speaker-name">Natalya <span class="speaker-lastname">Shelburne</span></div>
					<div class="speaker-twitter">@tallys</div>
					<div class="speaker-location">Austin, TX</div>
				</div>


				<div class="speaker">
					<div class="speaker-circle">
						<img src="images/speakers/lourdes-montano.jpeg">
					</div>
					<div class="speaker-name">Lourdes <span class="speaker-lastname">Montano</span></div>
					<div class="speaker-twitter">@loumontano</div>
					<div class="speaker-location">Buenos Aires, ARG</div>
				</div>


				<div class="speaker">
					<div class="speaker-circle">
						<img src="images/speakers/lee-kinney.jpeg">
					</div>
					<div class="speaker-name">Lee <span class="speaker-lastname">Kinney</span></div>
					<div class="speaker-twitter">@_leekinney</div>
					<div class="speaker-location">IDK</div>
				</div>

				<div class="speaker">
					<div class="speaker-circle">
						<img src="images/speakers/roy-tomeij.jpeg">
					</div>
					<div class="speaker-name">Roy <span class="speaker-lastname">Tomeij</span></div>
					<div class="speaker-twitter">@roy</div>
					<div class="speaker-location">Amsterdam, NDL</div>
				</div>

				<div class="speaker">
					<div class="speaker-circle">
						<img src="images/speakers/glen-maddern.jpeg">
					</div>
					<div class="speaker-name">Glen <span class="speaker-lastname">Maddern</span></div>
					<div class="speaker-twitter">@geelen</div>
					<div class="speaker-location">Melbourne, AUS</div>
				</div>

				<div class="speaker">
					<div class="speaker-circle">
						<img src="images/speakers/alicia-liu.jpeg">
					</div>
					<div class="speaker-name">Alicia <span class="speaker-lastname">Liu</span></div>
					<div class="speaker-twitter">@alicialiu</div>
					<div class="speaker-location">San Francisco, CA</div>
				</div>


				<div class="speaker">
					<div class="speaker-circle">
						<img src="images/speakers/chris-sauve.png">
					</div>
					<div class="speaker-name">Chris <span class="speaker-lastname">Sauve</span></div>
					<div class="speaker-twitter">@lemonmade</div>
					<div class="speaker-location">Ottawa, Ontario, CAN</div>
				</div>

				<div class="speaker">
					<div class="speaker-circle">
						<img src="images/speakers/stacy-kvernmo.jpeg">
					</div>
					<div class="speaker-name">Stacy <span class="speaker-lastname">Kvernmo</span></div>
					<div class="speaker-twitter">@stacyk</div>
					<div class="speaker-location">Aurora, IL</div>
				</div>

				<div class="speaker">
					<div class="speaker-circle">
						<img src="images/speakers/eva-ferreira.jpeg">
					</div>
					<div class="speaker-name">Eva <span class="speaker-lastname">Ferreira</span></div>
					<div class="speaker-twitter">@evaferreira</div>
					<div class="speaker-location">Buenos Aires, ARG</div>
				</div>


				<div class="speaker">
					<div class="speaker-circle">
						<img src="images/speakers/rachel-ober.jpeg">
					</div>
					<div class="speaker-name">Rachel <span class="speaker-lastname">Ober</span></div>
					<div class="speaker-twitter">@rachelober</div>
					<div class="speaker-location">Brooklyn, NY</div>
				</div>

				<div class="speaker">
					<div class="speaker-circle">
						<img src="images/speakers/lara-schenck.png">
					</div>
					<div class="speaker-name">Lara <span class="speaker-lastname">Schenck</span></div>
					<div class="speaker-twitter">@lara</div>
					<div class="speaker-location">New York, NY</div>
				</div>

				<div class="speaker">
					<div class="speaker-circle">
						<img src="images/speakers/jack-gold.jpeg">
					</div>
					<div class="speaker-name">Jack <span class="speaker-lastname">Gold</span></div>
					<div class="speaker-twitter">@jackgold</div>
					<div class="speaker-location">New York, NY</div>
				</div>

				<div class="speaker">
					<div class="speaker-circle">
						<img src="images/speakers/jesse-nichols.jpeg">
					</div>
					<div class="speaker-name">Jesse <span class="speaker-lastname">Nichols</span></div>
					<div class="speaker-twitter">@bboysupaman</div>
					<div class="speaker-location">Augusta, GA</div>
				</div>

			</div>


		</div>
</section>