<section class="m-speakers">
	<article>
		<h3>Speakers</h3>
	</article>
		<div class="speaker-grid">
			<div class="speaker">
				<img src="images/speakers/james-steinbach.jpeg">
			</div>
			<div class="speaker">
				<img src="images/speakers/miriam-nadler.jpeg">
			</div>
			<div class="speaker">
				<img src="images/speakers/tab-atkins.jpg">
			</div>
			<div class="speaker jackie">
				<img src="images/speakers/jackie-balzer.jpg">
			</div>
			<div class="speaker skinny">
				<img src="images/speakers/daniel-na.jpeg">
			</div>
			<div class="speaker">
				<img src="images/speakers/julie-cameron.jpg">
			</div>
			<div class="speaker">
				<img src="images/speakers/tim-hettler.png">
			</div>
			<div class="speaker skinny">
				<img src="images/speakers/eric-suzanne.jpg">
			</div>
			<div class="speaker">
				<img src="images/speakers/bernard-yu.jpeg">
			</div>
			<div class="speaker">
				<img src="images/speakers/ally-palanzi.jpeg">
			</div>
			<div class="speaker">
				<img src="images/speakers/jonathan-cutrell.jpeg">
			</div>
			<div class="speaker">
				<img src="images/speakers/natalya-shelburne.jpeg">
			</div>
			<div class="speaker">
				<img src="images/speakers/lourdes-montano.jpeg">
			</div>
			<div class="speaker skinny">
				<img src="images/speakers/lee-kinney.jpeg">
			</div>
			<div class="speaker">
				<img src="images/speakers/roy-tomeij.jpeg">
			</div>
			<div class="speaker">
				<img src="images/speakers/glen-maddern.jpeg">
			</div>
			<div class="speaker">
				<img src="images/speakers/alicia-liu.jpeg">
			</div>
			<div class="speaker">
				<img src="images/speakers/chris-sauve.png">
			</div>
			<div class="speaker skinny">
				<img src="images/speakers/stacy-kvernmo.jpeg">
			</div>
			<div class="speaker">
				<img src="images/speakers/eva-ferreira.jpeg">
			</div>
			<div class="speaker">
				<img src="images/speakers/rachel-ober.jpeg">
			</div>
			<div class="speaker">
				<img src="images/speakers/lara-schenck.png">
			</div>
			<div class="speaker">
				<img src="images/speakers/jack-gold.jpeg">
			</div>
			<div class="speaker">
				<img src="images/speakers/jesse-nichols.jpeg">
			</div>
		</div>
</section>