<section class="m-sponsorship">

    <article>
        <h4>we can’t do it without you!<br/>can you sponsor sassconf?</h2>

        <p class="wide">SassConf is a 3-day event that brings together a far-flung community of front-end developers, designers, architects, and web enthusiasts who dream of building a better web. Originally born out of NYC’s GothamSass meetup, SassConf has grown from a language-specific conference to an event on the cutting edge of front-end technology. THIS IS NOT REAL CONTENT!!</p>
    </article>
</section>