<section class="m-sponsors">
    <a name="sponsors"></a>

    <article>
        <h2 class="sub-header header--black">Sponsors</h2>

        <!-- <ul class="sponsors__gold">
          <li></li>
          <li></li>
        </ul> -->

        <ul class="sponsors__grid sponsors__silver">
          <li>
            <a href="http://www.salesforce.com/" target="_blank" rel="nofollow">
              <img src="images/sponsors/salesforce__logo.svg">
            </a>
          </li>
          <li>
            <a href="http://mailchimp.com/" target="_blank" rel="nofollow">
              <img src="images/sponsors/mailchimp__logo.svg">
            </a>
          </li>
          <li>
            <a href="https://www.shopify.com" target="_blank" rel="nofollow">
              <img src="images/sponsors/shopify__logo.svg">
            </a>
          </li>
        </ul>

        <ul class="sponsors__grid sponsors__bronze">
          <li class="oddbird__logo">
            <a href="http://www.oddbird.net/" target="_blank" rel="nofollow">
              <img src="images/sponsors/oddbird__logo.svg">
            </a>
          </li>
          <li>
            <a href="http://www.retailmenot.com/" target="_blank" rel="nofollow">
              <img src="images/sponsors/rmn__logo.svg">
            </a>
          </li>
          <li>
            <a href="https://www.ordoro.com/b" target="_blank" rel="nofollow">
              <img src="images/sponsors/ordoro__logo.svg">
            </a>
          </li>
          <li>
            <a href="https://stripe.com/" target="_blank" rel="nofollow">
              <img src="images/sponsors/stripe__logo.svg">
            </a>
          </li>
          <li>
            <a href="https://www.stickermule.com/" target="_blank" rel="nofollow">
              <img src="images/sponsors/sticker-mule__logo.svg">
            </a>
          </li>
        </ul>

    </article>
</section>
