<section class="m-sponsorship">
    <a name="sponsors"></a>

    <article>
        <h3 class="headline">Sponsors</h3>
        <p class="wide">Thanks to our amazing sponsors...</p>

    </article>


    <article>
        <h4>we can’t do it without you!<br/>can you sponsor sassconf?</h2>

        <p class="wide">If you're looking to put your sponsorship dollars to good use, we have great ways to get you noticed and contribute to the incredible experience we promise our attendees.</p>

        <p class="wide">We'd love to be able to offer as many diversity scholarships as possible, and we are looking for a couple sponsors to help make that happen.</p>

        <p class="wide">If you or your company can sponsor, no matter how big or small, please get in touch with us at <a href="mailto:sponsors@sassconf.com">sponsors at sassconf.com</a>!</p>

        <div class="button-container">
            <a class="button-primary" href="mailto:sponsors@sassconf.com">Email about Sponsorship</a>
        </div>

    </article>
</section>