<nav class="m-subpage-nav">

    <div class="m-nav__menu--wrapper">
        <div class="m-nav__menu">
            <span class="subpage-nav-item logo"><%= partial "partials/logo" %></span>
            <span class="subpage-nav-item">NOV 11-14 <span class="dot">&middot;</span> AUSTIN, TX</span>
            <a href="/" class="m-nav__link">Home</a>
            <a href="/#tickets" class="m-nav__link ticket">Get a Ticket</a>
        </div>
    </div>

</nav>