
<section class="m-tickets">
    <a name="tickets"></a>

	<article>
		<h2 class="sub-header header--blue">Get a Ticket</h2>

        <p>A ticket to SassConf includes two days of talks, lightning talks, four included workshops at a variety of skill levels, and for the first time this year, moderated small group discussions.</p>

        <p>The third day, our signature Unconf is an organic day where attendees can present, hack, and learn together. And of course, you’ll be there for all the parties & our much beloved all-speaker panel.</p>

        <div class="ticket-types">
            <div class="ticket-type">
                <h5 class="ticket">Conference Ticket</h5>
                <h5 class="price"><strike>$500</strike> $450</h5>
                <p class="discount">Get 10% off your ticket through 10/21 with code <strong>30DAYS</strong>!</p>
            </div>


        <div class="button-container">
            <a href="http://sassconf2015.eventbee.com/discount?code=30DAYS" class="button-cta" target="_blank">Register Now</a>
        </div>
        </div>

        <h4>Workshops!</h4>
        <p>We're pleased to offer three additional workshops this year on Saturday, November 14th, hosted at Capital Factory.

        <p class="meta">Yes, you can attend these even if you don't attend SassConf. No, there is no additional discount if you do (sorry). Yes, you can purchase these separately!</p>

        <div class="ticket-types"></div>
            <div class="ticket-type">
                <h5 class="ticket">1/2 Day Workshop: Gulp</h5>
                <h5 class="price">$225</h5>
                <p class="meta">Get started with Gulp! In this half-day workshop, Wes Bos will teach you the basics of Gulp, get you set up on a project, and more. <em>This workshop is the morning half of November 14th. Only 20 seats available.</em></p>
            </div>

            <div class="ticket-type">
                <h5 class="ticket">1/2 Day Workshop: SparkBox Design Right</h5>
                <h5 class="price">$225</h5>
                <p class="meta">The Sparkbox Team will teach you how to Design Right! <em>This workshop is the afternoon half of November 14th. Only 20 seats available.</em></p>
            </div>

            <div class="ticket-type">
                <h5 class="ticket">Full Day Workshop: Advanced Sass</h5>
                <h5 class="price">$300</h5>
                <p class="meta">Roy Tomeij, Sass Expert Extraordinaire is bringing his Advanced Sass workshop to SassConf! Learn how to create complex mixins and more. <em>This workshop is a full day on November 14th. Only 20 seats available.</em></p>
            </div>


        </div>

        <div class="button-container">
            <a href="http://sassconf2015.eventbee.com/discount?code=30DAYS" class="button-cta" target="_blank">Register Now</a>
        </div>

        <h4>Can you contribute to our Scholarship Fund?</h4>
        <p>Not everyone has the financial capability to attend conferences, and this burden falls heavily on already marginalized groups. Help us make SassConf diverse not only on stage but off, too, by contributing to our Scholarship Fund! Your help—as well as sponsorships—will be crucial to making this happen.</p>

        <div class="ticket-types">
            <div class="ticket-type">
                <h5 class="ticket">Ticket + <strong>10%</strong> Scholarship Fund</h5>
                <h5 class="price">$550</h5>
                <p class="meta">$50 goes to our Scholarship Fund.</p>
            </div>

            <div class="ticket-type">
                <h5 class="ticket">Ticket + <strong>20%</strong> Scholarship Fund</h5>
                <h5 class="price">$600</h5>
                <p class="meta">$100 goes to our Scholarship Fund.</p>
            </div>

            <div class="ticket-type">
                <h5 class="ticket">Ticket + <strong>50%</strong> Scholarship Fund</h5>
                <h5 class="price">$705</h5>
                <p class="meta">Contribute half of a ticket & get a 6% discount!</p>
            </div>

            <div class="ticket-type">
                <h5 class="ticket">Ticket + <strong>100%</strong> Scholarship Fund</h5>
                <h5 class="price">$900</h5>
                <p class="meta">Make it possible for someone to attend SassConf, with a 10% discount!</p>
            </div>
        </div>

        <div class="button-container">
            <a href="http://sassconf2015.eventbee.com/discount?code=30DAYS" class="button-cta" target="_blank">Register Now</a>
        </div>

        <p class="wide meta">
            When you purchase a SassConf ticket, you are explicitly required to agree with our stated <a href="#coc">Code of Conduct</a>. If you violate the CoC, you will be escorted from the conference without a refund. You agree that you will act with respect for other attendees, organizers, speakers, and staff. Finally, you agree that if you see something wrong you will notify a SassConf organizer to allow them to take swift and appropriate actions.
        </p>

	</article>
</section>
