
<section class="m-tickets">
    <a name="tickets"></a>
	<article>
		<h3>Get a Ticket</h3>

        <p>A ticket to SassConf includes two days of talks, lightning talks, four included workshops at a variety of skill levels, and for the first time this year, moderated small group discussions.</p>

        <p>The third day, our signature Unconf is an organic day where attendees can present, hack, and learn together. And of course, you’ll be there for all the parties & our much beloved all-speaker panel. In addition, we are offering four workshops as add-ons to your ticket.</p>

        <div class="ticket-types">
            <div class="ticket-type">
                <h5 class="ticket">Conference Ticket</h5>
                <h5 class="price">$500</h5>
            </div>

            <div class="ticket-type">
                <h5 class="ticket">Add a Workshop</h5>
                <h5 class="price">TBD</h5>
                <p class="meta">One additional workshop. More details soon!</p>
            </div>
        </div>


        <div class="button-container">
            <a href="http://sassconf2015.eventbee.com" class="button-cta" target="_blank">Register Now</a>
        </div>



        <h4>Can you contribute to our diversity fund?</h5>
        <p>Not everyone has the financial capability to attend conferences, and this burden falls heavily on already marginalized groups. Help us make SassConf diverse not only on stage but off, too, by contributing to our diversity fund! Your help—as well as sponsorships—will be crucial to making this happen.</p>

        <div class="ticket-types">
            <div class="ticket-type">
                <h5 class="ticket">Ticket + <strong>10%</strong> Diversity Fund</h5>
                <h5 class="price">$550</h5>
                <p class="meta">$50 goes to our diversity fund.</p>
            </div>

            <div class="ticket-type">
                <h5 class="ticket">Ticket + <strong>20%</strong> Diversity Fund</h5>
                <h5 class="price">$600</h5>
                <p class="meta">$100 goes to our diversity fund.</p>
            </div>

            <div class="ticket-type">
                <h5 class="ticket">Ticket + <strong>50%</strong> Diversity Fund</h5>
                <h5 class="price">$705</h5>
                <p class="meta">Contribute half of a ticket & get a 6% discount!</p>
            </div>

            <div class="ticket-type">
                <h5 class="ticket">Ticket + <strong>100%</strong> Diversity Fund</h5>
                <h5 class="price">$900</h5>
                <p class="meta">Make it possible for someone to attend SassConf, with a 10% discount!</p>
            </div>
        </div>

        <div class="button-container">
            <a href="http://sassconf2015.eventbee.com" class="button-cta" target="_blank">Register Now</a>
        </div>

        <p class="wide meta">
            When you purchase a SassConf ticket, you are explicitly required to agree with our stated <a href="#coc">Code of Conduct</a>. If you violate the CoC, you will be escorted from the conference without a refund. You agree that you will act with respect for other attendees, organizers, speakers, and staff. Finally, you agree that if you see something wrong you will notify a SassConf organizer to allow them to take swift and appropriate actions.
        </p>

	</article>
</section>