<section class="m-tickets">
	<article>
		<h3>Get a Ticket</h3>
        <p>A ticket to SassConf includes two days of talks, lightning talks, four included workshops at a variety of skill levels, and for the first time this year, moderated small group discussions.</p>

        <p>The third day, our signature Unconf is an organic day where attendees can present, hack, and learn together. And of course, you’ll be there for all the parties & our much beloved all-speaker panel. In addition, we are offering four workshops as add-ons to your ticket.</p>

        <div class="ticket-types">
            <div class="ticket-type">
                <h5 class="ticket">Early Bird Ticket</h5>
                <h5 class="price">$425</h5>
                <p class="meta">Price good through August 15th, 2015.</p>
            </div>
            <div class="ticket-type">
                <h5 class="ticket">Regular Ticket</h5>
                <h5 class="price">$500</h5>
                <p class="meta">Price good through October 15th, 2015.</p>
            </div>
            <div class="ticket-type">
                <h5 class="ticket">Late Ticket</h5>
                <h5 class="price">$575</h5>
                <p class="meta">Til we run out!</p>
            </div>
            <div class="ticket-type">
                <h5 class="ticket">Add a Workshop</h5>
                <h5 class="price">$99</h5>
                <p class="meta">One additional workshop. More details soon!</p>
            </div>
        </div>

        <div class="button-container">
            <button class="button-cta">Register Now</button>
        </div>

	</article>
</section>