<section class="m-venue-content">
    <a name="venue"></a>

    <article>
        <h2 class="sub-header header--white">Venue</h2>

        <div class="venue-logo"><img src="/images/logos/northdoor.png" alt=""></div>

        <p class="wide">The North Door is a live music, performance and event venue, located on Austin's East Side, just one block east of I-35. With a huge screen and plenty of room, our speakers will be front and center.</p>

        <p class="wide">For lunch, wander to all of the East Side's myriad restaurant options, from taco and Tex-mex, French and Argentian cuisine, and even a sushi trailer.</p>

        <p class="wide">Hang with us Thursday evening after the talks for dinner and drinks, and all day Friday for Unconference, just a block away at one of our favorite Austin coffee shops/craft beer hangouts, Brew and Brew, in their event space next door and patio. Attendees also get 10% off at Brew and Brew all conference long!</p>

    </article>
</section>

<section class="m-venue m-quote">

    <h3 class="quote-text">
        <span class="highlight highlight-wrap">
            Explore East Side favorites at North Door and Brew & Brew!
        </span>
        <span class="highlight highlight-breaks">
            Explore East Side favorites <br/>at North Door and Brew & Brew!
        </span>
    </h3>
</section>
