<section class="m-venue-content">

    <article>
        <h2 class="sub-header header--white">Venues</h2>

        <div class="venue-logo"><img src="/images/logos/northdoor.png" alt=""></div>

        <p class="wide">SassConf takes place in Austin's eclectic and quirky eastside. Our primary venue, The North Door, is a live music, performance, and event space, that we're transforming into funky, vintage lounge.</p>

        <p class="wide">For lunch, wander to all of the East Side's myriad restaurant options, from taco and Tex-mex, French and Argentian cuisine, and even a sushi trailer. We made y'all a <%= link_to('handy list', 'https://foursquare.com/sassconf/list/sassconfatx15-lunch') %> of delicious spots worth venturing to for lunch. </p>

    </article>
</section>

<section class="m-venue m-quote">

    <h3 class="quote-text">
        <span class="highlight highlight-wrap">
            Brew & Brew! Our favorite Austin coffee
        </span>
        <span class="highlight highlight-breaks">
          Explore East Side favorites<br>enjoy the Texas warmth
        </span>
    </h3>
</section>



<section class="m-about">

  <iframe src="https://mapsengine.google.com/map/u/0/embed?mid=zzriMaEd_xag.kzQ6xZbdm27c" width="100%" height="480"></iframe>


  <article>

      <p class="wide">SassConf likes to bring out the charms of our host cities. Austin's east side is easily walkable and Texas has lovely
      November weather. Stretch, see the city, explore Austin, learn!</p>



      <h4>North Door</h4>
      <p class="meta">530 Brushy Street</p>

      <h4>Brew and Brew</h4>
      <p class="meta">500 San Marcos</p>

      <h4>Funsize</h4>
      <p class="meta">6th Stree</p>

      <h4>Retail Me No</h4>
      <p class="meta">Location</p>

  </article>
</section>



