<section class="m-venue-content">
    <a name="venue"></a>

    <article>
        <h3>Venue</h3>
        <p class="venue-logo"><img src="/images/logos/brazoshall.png" alt=""></p>

        <p class="wide">Brazos Hall is a turn-of-the-century warehouse building at the corner of 4th and Brazos, right in the heart of downtown Austin. Hang out in the huge restored downstairs to watch the talks; catch the all-speaker panel and closing party upstairs on the open-air roofdeck.</p>

        <p class="wide">For lunch, wander to all of downtown’s myriad restaurant options, relax on the Capitol lawn with sandwich, or hop over to famous South Congress Ave for something a little more funky.</p>

        <p>Stay tuned for Unconference & workshops venues!</p>
    </article>
</section>

<section class="m-venue m-quote">

    <h3 class="quote-text">
        <span class="highlight highlight-wrap">
            Brazos Hall is a venue unlike any other in the heart of downtown.
        </span>
        <span class="highlight highlight-breaks">
            Brazos Hall is a venue<br/>unlike any other in the<br/>heart of downtown.
        </span>
    </h3>
</section>

