// this is the actual blog post page
div.blog-header-post
    div.content
        h3
            a(href='/blog') Blog

section.section.blog-post
    div.content
      -var post = public.blog.posts._data
          != yield
