// blog section list of posts
div.blog-header
  div.content
    h1 Blog

section.section.blog-list
    div.content
        //- show blog teaser roll
        for post, slug in public.blog.posts._data
          if post.layout !== false
            article.h-entry
              span.dt-published= post.date
              h4.p-name
                a.u-url(href= "/blog/posts/#{ slug }")= post.title
              p.p-summary= post.summary

        // probz need pagination

