body {
  margin: nth($nav-height,1) 0 0;
  min-width: 300px;
  background-color: $background-color;
  @if length($nav-height) > 1 {
    @media (min-height: 30em) {
      margin: nth($nav-height,2) 0 0;
    }
  }
}


article {
  max-width: $max-width;
  margin: 0 auto;
  padding: ms(1);
  @include media(grid-lg) {
    padding: ms(2);
  }
  @include media(grid-xl) {
    padding: ms(6) ms(3);
  }

  .headline {
    text-align: center;
  }

}

a.back-to-top {
  background: $white;
  position: fixed;
  top: 20px;
  right: 20px;
  text-transform: uppercase;
  padding: 4px 6px;
  font-size: 9px;
  font-weight: 400;
  opacity: .5;
  text-decoration: none;
  transition: 1s ease opacity;

  &:link, &:active, &:visited {
    color: $text-color;
  }
  &:hover {
    text-decoration: none;
    opacity: 1;
  }
}