body {
  margin: nth($nav-height,1) 0 0;
  background-color: $background-color;
  color: $text-color;
  font-family: $text-font;
  line-height: $line-height;
  @if length($nav-height) > 1 {
    @media (min-height: 30em) {
      margin: nth($nav-height,2) 0 0;
    }
  }
}

