body {
  color: $text-color;
  font-family: $text-font;
  @include ms-respond(line-height,1);
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  line-height: 1;
  margin: 0 0 ms(-3);
  color: $alt-text-color;
  * + & {
    margin-top: ms(-1);
  }
}

h6 {
  @include ms-respond(font-size, 1);
  font-family: $header-font;
}
h5 {
  @include ms-respond(font-size, 2);
  font-family: $header-font;
}
h4 {
  @include ms-respond(font-size, 3);
  font-weight: 600;
  color: $text-color;
  text-transform: uppercase;
  font-family: $header-font;
}
h3 {
  @include ms-respond(font-size, 4);
  font-family: $header-font;
}
h2 {
  @include ms-respond(font-size, 5);
  font-size: 4em;
  font-family: $sub-header-font;
  text-transform: uppercase;

  @include media(grid-med) {
    @include ms-respond(font-size, 5);
  }
}
h1 {
  @include ms-respond(font-size, 5);
  font-family: $header-font;
  text-transform: uppercase;
}

@mixin sub-header($background) {
  display: inline-block;
  padding: 0 .2em;
  margin-left: 0.5em;

  @if $background == white {
    background-color: $white;
    color: $pink;

  } @else if $background == purple {
    background-color: $purple;
    color: $white;

  } @else if $background == blue {
    background-color: $blue;
    color: $white;

  } @else if $background == black {
    background-color: $about-bg;
    color: $white;

  }

}

@mixin sub-header__stripes($background) {
  height: 10px;
  padding-left: 0.3em;


  @include media(grid-sm) {
    margin-top: -38px;
  }
  @include media(grid-med) {
    margin-top: -51px;
  }
  @include media(grid-lg) {
    margin-top: -70px;
  }

  @if $background == white {
    border-top: 3px solid $blue;
    border-bottom: 3px solid $blue;

  } @else if $background == purple {
    border-top: 3px solid $blue;
    border-bottom: 3px solid $blue;

  } @else if $background == blue {
    border-top: 3px solid $gold;
    border-bottom: 3px solid $gold;

  } @else if $background == black {
    border-top: 3px solid $green;
    border-bottom: 3px solid $green;
  }
}

.sub-header.header--white {
  @include sub-header(white);

  & + .sub-header__stripes {
    @include sub-header__stripes(white);
  }
}

.sub-header.header--purple {
  @include sub-header(purple);

  & + .sub-header__stripes {
    @include sub-header__stripes(purple);
  }
}

.sub-header.header--blue {
  @include sub-header(blue);

  & + .sub-header__stripes {
    @include sub-header__stripes(blue);
  }
}

.sub-header.header--black {
  @include sub-header(black);

  & + .sub-header__stripes {
    @include sub-header__stripes(black);
  }
}


.sub-header__container {
  height: 5em;
  margin-bottom: 2.5em;
}

.dot {
  color: transparentize($text-color,.35);
}


a:link,
a:visited,
a:active {
  color: $link-color;
  text-decoration: none;
}
a:hover,
a:focus {
  color: lighten($link-color, 10%);
  text-decoration: underline;
}

// paragraph widths

p {
  @include media(grid-sm) {
    line-height: 1.2;
  }
  @include media(grid-med) {
    width: 35%;
  }
  @include media(grid-xl) {
    font-size: 110%;
    width: 55%;
    line-height: 1.5;
  }
}

p.wide {
  @include media(grid-med) {
    width: 55%;
  }
}

.meta {
  opacity: .7;
  margin: 0;
  padding: 0;
  font-size: 12px;
  @include media(grid-xl) {
    font-size: 14px;
  }
}

.highlight {
  color: $gold;
}
