---
layout: layout
---

<article class="about">
  <div class="about__content">
    <div class="about__main">
      <%= partial "partials/modules/about" %>
    </div>
    <div class="about__organizer">
      <h4>Organizers</h3>
      <%= image_tag "organizers/ao.jpg", :class => "organizer__picture" %>
      <a href="#" class="organizer__twitter-link">@adekunleoudye</a>
    </div>
  </div>

</article>
