---
layout: layout
---

<article class="about">
  <h1>About SassConf</h1>
  <div class="about__content">
    <div class="about__main">
      <%= partial "partials/modules/about" %>
    </div>
    <div class="about__organizer-group">
      <h3>Organizers</h3>
      <div class="about__organizer-item">
        <% data.organizers.each do |o| %>
          <% o.name %>
          <h1></h1>
          <!-- <p><% o.name %></p>
          <p><% o.social.twitter %></p>
          <p><% o.social.twitter %></p> -->
        <% end %>
      </div>

    </div>
  </div>

</article>
