<%= partial "partials/modules/hero" %>
<section class="m-action">
  <article class="gliss">
    <div class="text">
      Get tickets now!
      <h1>Heading one</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem quo asperiores quaerat impedit voluptate, alias laboriosam nam dicta nulla ab et ea! Aliquid ut porro atque facere repellendus? Corporis, earum.</p>
      <h2>Heading one</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, sequi eum numquam consequatur quasi adipisci unde reiciendis laborum fugit non? Ipsum reprehenderit laboriosam sequi quisquam reiciendis ratione, libero, itaque mollitia.</p>
      <h3>Heading one</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id voluptate, modi molestiae, quae doloribus voluptatibus. Voluptatem molestiae sint eligendi fuga ullam velit enim nulla. Iure perferendis aspernatur maxime nostrum cumque!</p>
      <h4>Heading one</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto quasi omnis, neque vero possimus accusantium iure cupiditate ducimus, nisi ipsam consequuntur consectetur, nam molestiae eum amet repudiandae nostrum perspiciatis. Consequuntur.</p>
      <h5>Heading one</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, repellendus ipsam doloribus aut, laudantium quam, asperiores expedita, accusantium distinctio explicabo tempora. Excepturi, possimus modi iure laudantium inventore quod voluptate odio.</p>
      <h6>Heading one</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta ut aspernatur at eaque natus inventore quis. Temporibus vel numquam delectus, quibusdam, cupiditate expedita quia harum perferendis aut quasi, praesentium voluptates.</p>
    </div>
  </article>
</section>