---
layout: home
---

<%= partial "partials/modules/hero" %>

<section class="m-hero-image">
	<img src="images/15893006804_70c4ccbb2c_o.jpg">
	<div class="hero-quote">still reeling... i feel more inspired than i have in years</div>
</section>

<%= partial "partials/modules/tickets" %>
<%= partial "partials/modules/speakers" %>