.m-about {
    flex-basis: 45rem;

    @include media(grid-sm) {
        padding-right: 4em;
    }
    
    padding-bottom: ms(4);
    h1 {
        color: $white;
        margin: 60px 0;
    }
    h4 {
        color: $white;
    }

    a {
        color: $gold;
        &:hover,
        &:focus {
            color: lighten($gold, 10%);
        }
    }

  //   @include media(grid-sm) {
  // }

  // @include media(grid-med) {
  //       background: none;
  // }
}

.about__organizer-group {
    flex-basis: 20rem;
}

.about__main {
    display: flex;
    flex-wrap: wrap;
    
    @include media(grid-lg) {
        flex-wrap: nowrap;
    }
}

.header-dates {
  margin-bottom: 5px;
}

.header-dates__locations {
  margin-bottom: 20px;
  display: block;

}

.about__organizer-item {
    display: flex;
}

.organizer__picture {
    // display: block;
    border-radius: 50px;
    width: 4em;
    height: 4em;
    margin-right: 1em;
    margin-bottom: 1em;
}

.about__organizer-info {
    padding-top: 1em;
}
