.m-about {
    // background: $about-bg;
    // color: $white;
    padding-bottom: ms(4);
    h1 {
        color: $white;
        margin: 60px 0;
    }
    h4 {
        color: $white;
    }

    a {
        color: $gold;
        &:hover,
        &:focus {
            color: lighten($gold, 10%);
        }
    }
}


.header-dates {
  margin-bottom: 5px;
}

.header-dates__locations {
  margin-bottom: 20px;
  display: block;

}

.about__organizer-item {
    display: flex;
}

.organizer__picture {
    // display: block;
    border-radius: 50px;
    width: 5em;
    height: 5em;
    margin-right: 1em;
    margin-bottom: 1em;
}

.about__organizer-info {
    padding-top: 1em;
}
