.m-footer {
    background: $about-bg;
    color: $text-color-light;

    a {
      color: $gold;

      &:hover,
      &:focus {
        color: lighten($gold, 10%);
      }
    }
}


.m-footer p {
  width: 100%;
}

.m-footer article {
  padding: 1em;
}
