.m-hero {
  overflow: hidden;
  color: $alt-text-color;
  background-color: $purple;
  text-align: center;
  @include media(grid-med) {
    min-height: 520px;
  }

  .highlight {
    width: auto;
    text-align: center;
    margin-top: 3em;
    margin-bottom: 3em;
    line-height: 1.6em;

    @include media(grid-med) {
      text-align: right;
      margin-top: 3em;
      margin-bottom: 3em;
    }
  }

  .highlight__promo-code {
    color: $white;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 2px solid $pink;
  }

  article {
    padding-top: 2em;
  }
  .hero-image {

    width: 85%;
    // margin-top: 30px;

    @include media(grid-med) {
      width: 75%;
      // margin-top: -50px;
    }
  }

  .button-container {
    // override this container to move button to the right
    margin: 0;
    text-align: center;

    @include media(grid-med) {
      text-align: right;
    }
  }
}


.tagline {
  margin: 0 auto;

  // always try to break tagline text after "Sass"
  @include media(grid-med) {
    max-width: 70%;
  }
  @include media(grid-lg) {
    max-width: 52%;
  }
  @include media(grid-xl) {
    max-width: 55%;
  }
}



.svg-logo {
  width: ms(8);
  height: ms(8);
  &__bkg {
    fill: $background-color;
  }
  &__fg {
    fill: $purple;
  }
}
