.m-hero {
  overflow: hidden;
  color: $alt-text-color;
  // background: url('/images/sassconf-header.png') center center no-repeat;
  // background-size: 55%;
  background-color: $purple;
  text-align: center;
  min-height: 520px;
  p {
    width: auto;
    color: $gold;
    text-align: right;
  }
  .hero-image {
    width: 85%;
  }
  .button-container {
    // override this container to move button to the right
    margin: 0;
    text-align: right;
  }
}


.tagline {
  margin: 0 auto;

  // always try to break tagline text after "Sass"
  @include media(grid-med) {
    max-width: 70%;
  }
  @include media(grid-lg) {
    max-width: 52%;
  }
  @include media(grid-xl) {
    max-width: 55%;
  }
}



.svg-logo {
  width: ms(8);
  height: ms(8);
  &__bkg {
    fill: $background-color;
  }
  &__fg {
    fill: $purple;
  }
}