// .m-nav {
//     background: $blue;
//     padding: ms(2);
// }

.m-nav__menu--wrapper {
    max-width: 65rem;
    margin: 0 auto;

}

//secondary-header - AO Refactor

.sec-page__header {
    background: $purple;
    padding: ms(2);
    text-align: center;
}

.sec-page__header__logo {
  width: 10em;
}

.m-nav__menu {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: left;
    flex-direction: column;
    @include media(grid-med) {
        flex-direction: row;
        flex: 1 0 100px;
        flex-wrap: wrap;
    }
    @include media(grid-lg) {
        flex: 1 0 200px;
        flex-wrap: nowrap;
    }
}

a.m-nav__link {
    color: $white;
    padding: 12px 24px;
    text-decoration: none;
    font-weight: 400;
    display: block;
    @include media(grid-sm) {
        display: inline;
        width: 25%;
        text-align: center;
    }

    &:hover,
    &:active {
        background: $gold;
        color: $white;
    }

    &.coc {
        // @include media(grid-lg) {
        //     flex: 4 0 120px;
        // }
    }

}



// SUBPAGES nav

.m-nav {
    background: $purple;
    padding: ms(1);

    .subpage-nav-item {
        color: $white;
        padding: 12px 24px;
        font-weight: 400;
        flex-grow: 1;
        order: 1;
    }

    .dot {
        padding: 0 4px;
        color: rgba($white,.5);
    }

    .m-nav__menu {
        align-items: center;
        @include media(grid-med) {
            width: 60%;
        }
    }

    a.m-nav__link {
        &:hover,
        &:active {
            background: $blue;
        }
        &.ticket {
            @include media(grid-med) {
                max-width: 85px;
            }
            @include media(grid-xl) {
                max-width: 95px;
            }
        }
    }

    .svg-logo {
      width: ms(3);
      height: ms(3);
      &__bkg {
        fill: $purple;
      }
      &__fg {
        fill: $pink;
      }
    }

}


.m-nav__menu .logo {
    width: 15%;
}
