.m-nav {
    background: $blue;
    padding: ms(2);
}

.m-nav__menu--wrapper {
    max-width: $max-width;
    margin: 0 auto;
}

.m-nav__menu {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: center;
    @include media(grid-sm) {
        flex-direction: column;
    }
    @include media(grid-med) {
        flex-direction: row;
    }
}

a.m-nav__link {
    color: $white;
    order: 1;
    padding: 12px 24px;
    text-decoration: none;
    font-weight: 400;

    &:hover,
    &:active {
        background: $gold;
        color: $white;
    }
    &.ticket {
        // order: 2;
    }
}