.m-quote {
    background-position: 0 0;
    background-repeat: no-repeat;
    min-height: 600px;
    background-size: 150%;
    background-position: 0 0;
    @include media(grid-lg) {
        min-height: 800px;
        background-size: cover;
        background-position: 0 -100px;
    }
}

.quote-text {
  line-height: 1.65;
  margin: 0;

  .highlight {
    color: $white;
    padding: .25em;
    padding-left: 0;

    &.highlight-wrap {
        text-align: left;
        display: block;
        padding-left: .5em;
        @include media(grid-med) {
            display: none;
        }
    }
    &.highlight-breaks {
        display: none;
        @include media(grid-med) {
            display: inline;
            position: relative;
            top: -50px;
            left: 50px;
        }
        @include media(grid-lg) {
            left: 150px;
        }
    }

  }
}

.attribution {
    text-transform: uppercase;
    font-size: 10px;
    padding: .5em 0 0 1.5em;
    font-weight: 600;

    @include media(grid-med) {
        padding: 0;
        position: relative;
        top: -35px;
        left: 50px;
    }
    @include media(grid-lg) {
        left: 150px;
    }
    a:link, a:active, a:visited {
        color: $white;
        opacity: .5;
        text-decoration: none;
        transition: 1s ease opacity;

    }
    a:hover, a:focus {
        opacity: 1;
     }
}


// First

.m-quote-a {
    background-image: url("/images/backgrounds/speaker-panel.jpg");

}

.m-quote-a {
    .highlight {
        background: $green;
        box-shadow: .25em 0 0 $green,
                .25em*-1 0 0 $green;
    }
}

// Second

.m-quote-b {
    background-image: url("/images/backgrounds/attendees-outside.jpg");
}

.m-quote-b {
    @include media(grid-med) {
        text-align: right;
    }

    .highlight {
        background: $gold;
        box-shadow: .25em 0 0 $gold,
                .25em*-1 0 0 $gold;

        &.highlight-breaks {
            @include media(grid-med) {
                left: -40px;
                top: 370px;
            }
            @include media(grid-lg) {
                top: 520px;
            }
            @include media(grid-xl) {
                left: -150px;
                top: 490px;
            }
        }
    }

    .attribution {
        @include media(grid-med) {
            left: -40px;
            top: 140px;
        }
        @include media(grid-lg) {
            top: 290px;
        }
        @include media(grid-xl) {
            top: 210px;
            left: -150px;
        }
    }

}

// Venue module is basically a quote with some other stuff

.m-venue {
    background-image: url("/images/backgrounds/brazoshall.jpeg");
}

.m-venue {
    .highlight {
        background: $pink;
        box-shadow: .25em 0 0 $pink,
                .25em*-1 0 0 $pink;
    }
}

.venue-logo {
    @include media(grid-med) {
        float: right;
    }
}
.m-venue-content {padding-bottom: ms(5);}


// Days Until counter is basically a quote but with a counter and it's centered


.m-days {
    background-image: url("/images/backgrounds/smith-laughing.jpg");
}

.m-days .daysuntil {
    background: $purple;
    padding: 1em 0 1.5em;
    text-align: center;
    display: block;
    max-width: 350px;
    margin: 0 auto;
    position: relative;
    top: -50px;
    h3 {
        color: $white;
        font-weight: 600;
        margin: 0;
    }
    p {
        color: $white;
        margin: 0;
        width: auto;
        font-weight: 400;
    }
}