.m-quote {
    min-height: 800px;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.quote-text {
  line-height: 1.65;
  margin: 0;

  .highlight {
    display: inline;
    color: $white;
    padding: .25em;
    position: relative;
    left: 150px;
    top: -50px;
    padding-left: 0;
  }
}

.attribution {
    text-transform: uppercase;
    color: $white;
    position: relative;
    left: 150px;
    top: -35px;
    font-size: 10px;
}


// First

.m-quote-a {
    background-image: url("/images/backgrounds/speaker-panel.jpg");
    background-position: 0 -100px;
}

.m-quote-a {
    .highlight {
        background: $green;
        box-shadow: .25em 0 0 $green,
                .25em*-1 0 0 $green;
    }
}

// Second

.m-quote-b {
    background-image: url("/images/backgrounds/attendees-outside.jpg");
    background-position: 0 -100px;
}

.m-quote-b {
    text-align: right;
    .highlight {
        top: 490px;
        left: -150px;
        background: $gold;
        box-shadow: .25em 0 0 $gold,
                .25em*-1 0 0 $gold;
    }
}

// Venue module is basically a quote with some other stuff

.m-venue {
    background-image: url("/images/backgrounds/brazoshall.jpeg");
    background-position: 0 -100px;
}

.m-venue {
    .highlight {
        background: $pink;
        box-shadow: .25em 0 0 $pink,
                .25em*-1 0 0 $pink;
    }
}

.venue-logo {float: right;}
.m-venue-content {padding-bottom: ms(5);}


// Days Until counter is basically a quote but with a counter and it's centered


.m-days {
    background-image: url("/images/backgrounds/smith-laughing.jpg");
    background-position: 0 -100px;
}

.m-days .daysuntil {
    background: $purple;
    padding: 1em 0 1.5em;
    text-align: center;
    display: block;
    max-width: 350px;
    margin: 0 auto;
    position: relative;
    top: -50px;
    h3 {
        color: $white;
        font-weight: 600;
        margin: 0;
    }
    p {
        color: $white;
        margin: 0;
        width: auto;
        font-weight: 400;
    }
}