
.m-sponsorship {
    background: $alt-background-color;
    padding: ms(4) 0;
}

.m-sponsors {
  background-color: $about-bg;
  padding: ms(4) 0;
}

.sponsors__grid {
  @extend %ul-reset;
  display: flex;
  // justify-content: center;
  // align-content: center;
  flex-wrap: wrap;
  //flex-flow: row;



  img {width: 100%;}

  li {
    background: rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 2em;
    min-width: 10em;
    margin: 0 auto 30px;
    cursor: pointer;


    @include media(grid-lg) {
        &:not(:last-child) {
          margin-right: 1em;
        }
    }
  }
}

.sponsors__silver {
  li {
    max-width: 15em;

    a {display: flex; max-height: 12em;}
  }
}

.sponsors__bronze {
  max-width: 48em;
  margin: 0 auto !important;

  li {
    max-width: 10em;


    a {display: flex; max-height: 7em;}
  }
}
