.m-tickets {
	background: $blue;
    color: $white;
    padding: ms(4) 0;
    h3, h4, h5 {color: $white;}
    h4 {max-width: 50%;}
    .button-container {margin-bottom: 1em;}
    @include media(grid-sm) {
        h5 {
            margin-top: 0;
            line-height: 1.2;
        }
        p, p.meta {
            margin-top: .5em;
        }
        p.discount {color: $gold;}
    }
}
.scholarships-form {
	background: $about-bg;
  color: $white;
	text-align: center;
	font-size: 1.5em;
	line-height: 1.3;
	padding-top: 10px;
	padding-bottom: 10px;

	a {color:$gold;}

	article {
		padding-top: 1em;
		padding-bottom: 1em;
	}

}


.ticket-types {
    padding: ms(2) 0 0 0;
}

.ticket-type {
    margin-bottom: 2em;
    @include media(grid-med) {
        margin-bottom: 1em;
    }
}

.ticket {
	display: inline-block;
    margin-bottom: 0;
    @include media(grid-med) {
        width: 400px;
    }
    @include media(grid-xl) {
        width: 600px;
    }
}

h5.price {
	font-weight: 600;
	display: inline-block;
	margin-bottom: 0;
}
