%ul-reset {
  list-style:none;
  margin-left:0;
  margin-top:0;
  padding:0;
}

.color-grid {
  @extend %ul-reset;

  li {
    //width: 25%;
    height: 2em;
    border: 5px $white solid;
    box-shadow: 0px 1px 6px #B3B3B3;

    &:first-child  {background: $purple}
    &:nth-child(2) {background: $green}
    &:nth-child(3) {background: $blue}
    &:nth-child(4) {background: $gold}
    &:last-child   {background: $white}
  }
}
