.m-day-schedule {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.day-schedule__nav__container {
  flex: 1 3em;
  background: $pink;
}

.day-schedule__body {
  flex: 3 12em;
  // background: $blue;
}

.day-schedule__nav-group {
  padding-left: 0;
  list-style: none;
  position: fixed;
  width: 10em;
  // top: 0;
}

.day-schedule__nav-item {
  padding: 0.25em  1em;
}
